<link rel="stylesheet" type="text/css" href="/css/intro.css">
<div id="box">
	<div class="intro_header" >
		<h3>Welcome {{user.name}}</h3>
		<h5>Please read the follwing instructions carefully</h5>
	 </div>
	 <div class="intro_main">
	 	<li> Never  click  the  “Back”  button  on  the  browser. </li>
	 	<li> The  exam  must  be  completed  in  one  sitting. </li>
	 	<li>If  you  encounter  problems  accessing  or  submitting  your  exam,  you  must  contact  your   instructor  immediately.</li>
	 	<li> There is no negative marking.</li>
	  	<li> You will be provided with total of 3 hints using which you can ask if a particular option is the correct answer.</li>
	  </div>

	  <div class="intro_footer">
	  	<button class="btn" ui-sref="test({tid:1})" ng-click="login(user)" >Start Test Now</button>
	 </div>
</div>